<ion-view class="main-view" view-title="Jav ScreenShot" hide-nav-bar="true">
	<ion-content class="">

		<div class="bar bar-header item-input-inset">
			<label class="item-input-wrapper" ng-class='{invalid: form.search.$error.avCode}'>
				<i class="icon ion-ios-search placeholder-icon"></i>
				<form name="form">
					<input name="search" type="search" placeholder="Search" ng-model="model.codeStr" av-code required>
				</form>
			</label>
			<button class="button button-positive" ng-click="search()" ng-disabled="form.$invalid">Search</button>
		</div>

		<!--
		<ion-list>
			<ion-item ng-repeat="image in model.imageArray">
				<img class="av-image image-{{image.type}}" ng-src="{{image.src}}">
			</ion-item>
		</ion-list>
		-->

		<!--<div class="list card">
			<div class="item item-image" ng-repeat="image in model.imageArray">
				<img class="av-image image-{{image.type}}" ng-src="{{image.src}}">
			</div>
		</div>-->
		
		<!--<div class="row responsive-md">
			<div class="col" ng-repeat="image in model.imageArray">
				<img class="av-image image-{{image.type}}" ng-src="{{image.src}}">
			</div>
		</div>-->

		
		<div class="flexbox">
			<div class="flexitem" ng-repeat="image in model.imageArray">
				<img class="av-image image-{{image.type}}" ng-src="{{image.src}}">
			</div>
		</div>

	</ion-content>
</ion-view>